@font-face{
    font-family: "NexaBold";
    src: url('../fonts/Nexa-Bold.ttf')
}

@font-face{
    font-family: "NexaLight";
    src: url('../fonts/Nexa-Light.ttf')
}

html,body{
    background-color:#13141A;
    width:100%;
    height: 100%;
    margin:0px;
    overflow: hidden;
}

*{
    box-sizing: border-box;
    font-family: 'NexaBold';
    color:white;
    transition: all 2s;
}

h1{
  font-size:230px;
}

h2{
  font-size: 50px
}

p{
  font-family: NexaLight
}

/*#########################
          KEYFRAMES
 #########################*/

 @keyframes leftSide {
     0%   {
       width: 0;
     }
     100% {
       width: 50%;
     }
 }

 @keyframes leftSide2 {
     0%   {
       width: 0;
     }
     100% {
       width: 100%;
     }
 }

 @keyframes arrow {
     0%   {
       bottom: 0;
     }
     50%{
       bottom:10px
     }
     100% {
       bottom: 0;
     }
 }

 @keyframes show{
 	0% {
 	  opacity: 0;
 	  transform: translateY(-30px);
 }
 	100% {
 	  opacity: 1;
 	  transform: translateY(0);
  }
}

@keyframes show2{
 0% {
   opacity: 0;
   transform: translateX(-10px);
}
 100% {
   opacity: 1;
   transform: translateX(0);
 }
}

header{
    padding:25px;
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
    position: fixed;
}

header h3{
    text-align: center;
    letter-spacing: 20px;
    font-family: Raleway;
}

header .hamburger h3{
    letter-spacing: 2px;
}

/*#########################
          HOME
 #########################*/



.home{
    width:100%;
    height: 100%;
    display: none;
}

.home-center{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width:100%;
    top:150px;
}

.home-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height: 100%;
    padding:20px;
    transition: all 1s;
}

.home-left{
      background-color: #FF8C38;
      animation: leftSide 1s;
}

.home-right{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-End

}

.scroll{
  margin-left: 30px;
  animation:arrow 1.3s infinite;
  position: absolute;
}

.scroll h5{
  margin-left:10px
}

h1,h3,h4{
  animation: show 1.4s cubic-bezier(1,-0.17,.68,.84)
}

h2{
  animation: show2 2s cubic-bezier(1,-0.17,.68,.84);
}

/*#########################
          ABOUT
 #########################*/

 .about{
   display: none;
   width:100%;
   height: 80%;
   top:300px;
   flex-direction: column;
   position: absolute;
   margin:100px;
 }

 .about h3{
   font-family: NexaLight
 }
